body {
    width: 960px;
    margin: auto;
}

svg {
    border: 1px solid lightgrey;
}

.item {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.item.notSelected {
    display: none;
}

.item--back {
    fill: none;
    stroke: lightgrey;
    stroke-width: 0.5px;
}

text.axis--name {
    fill: black;
    text-anchor: start;
}

.axis text {
    pointer-events: none;
}